body {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd21-34-07-kwan-a_3.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=979317813c8973dd2a4e5b7126fc10fa);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(250, 168, 168);
}

#loginbox {
    background-color: rgb(201, 247, 250);
    border: rgb(152, 207, 211);
    border-style: outset;
    border-width: thick;
    border-radius: 15px;
}

.form-control {
    width: 100%;
}

.center {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}